[2016-03-03 15:14] hferreirainvoice opened #1 "there are error when schema is uppercase"
i having this error:

schema \"abc\" does not exist

[code]

[2016-03-03 17:41] bytefish commented on #1
I am not able to reproduce the error.

I have added a Test case: [Issue1_UpperCase_Test.cs](https://github.com/bytefish/PostgreSQLCopyHelper/blob/master/PostgreSQLCopyHelper/PostgreSQLCopyHelper/PostgreSQLCopyHelper.Test/Issues/Issue1_UpperCase_Test.cs), which works without problems. Please note I have switched the API between Version 0.1 and Version 0.2. I have removed the `WithTableName` method,

[2016-03-03 18:03] bytefish commented on #1
I am closing the Issue as "Cannot Reproduce". Please reopen, if the problem can be reproduced.

[2016-03-03 18:03] #1 closed

[2016-03-03 18:34] hferreirainvoice commented on #1
ok... we need scape quotes like

`.WithTableName("\"ABC\"", "\"CDF\"")`

[2016-03-04 08:45] bytefish commented on #1
Great you could solve it. Thanks for the Feedback!

[2016-03-04 13:46] hferreirainvoice commented on #1
ok, but your unit test is not trustworthy, because you not created a SCHEMA.TABLE with upper case

[2016-03-04 13:58] bytefish commented on #1
It would be useful to show how the Schema was created in the first place. When using double quotes for identifiers, they always have to be used with their quotes in PostgreSQL (see [PostgreSQL Documentation](http://www.postgresql.org/docs/current/interactive/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS)).

[2016-07-23 20:07] bytefish opened #3 "Add Support for .NET Core"
.NET Core 1.0 has been released by Microsoft. PostgreSQLCopyHelper should be updated to support .NET Core. TinyCsvParser has already been updated to .NET Core, so it can be used as a template.

[2016-07-23 20:10] bytefish opened #4 "Increase Version to 1.0"
The library currently has Version 0.2, which makes it look like an early Beta release. The library is built on top of Npgsql and comes with a thorough Unit Test Suite. The version number should be updated to Version 1.0.

[2016-07-24 14:40] #4 closed

[2016-07-24 14:40] #3 closed

[2016-10-06 11:47] kblc opened #6 "Error happens when work with net4.6"
I have build my project with **net4.6** and when I have used your SaveAll() function the exception has been thrown "Could not load file or assembly 'Npgsql, Version=**3.1.0.0**, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)"

I use **npgsql 3.1.5**.

[2016-10-06 16:49] bytefish commented on #6
Thanks for bringing up this issue! :+1:

I will look into it this weekend.

[2016-10-06 17:12] kblc commented on #6
Thank you! I will wait for it :)

[2016-10-09 06:19] bytefish commented on #6
I had a look at the project.json and I see nothing wrong with it. 😢 Does deleting the packages folder and reinstalling the packages from nuget help? Do you have an idea how this could happen? ☺

[2016-10-09 09:46] bytefish commented on #6
I have created a new .NET 4.6 Console Project:

![image](https://cloud.githubusercontent.com/assets/239373/19219267/ec96e40e-8e0e-11e6-9a53-189ee1e91819.png)

You are using Npgsql 3.1.5. So I did the following.

First of all I have installed the latest Npgsql version (3.1.8):

[code]

Next I installed PostgreSQLCopyHelper:

[code]

Now comes the part, that you might be missing. NuGet should automa

[2016-10-09 09:48] bytefish commented on #6
Could you please run:

[code]

And let me know, if it fixes the problem?

[2016-10-09 10:07] bytefish commented on #6
You are using Npgsql 3.1.5. So I did the following.

First of all I have installed the latest Npgsql version:

[code]

Next I installed PostgreSQLCopyHelper:

[code]

Now comes the part, which you might be missing. NuGet should add a binding redirect in your app.config (or web.config, if it is a Web project).

[code]

Using this Binding Redirect, the correct Npgsql Assembly should be resolved, and

[2016-10-15 06:54] #6 closed

[2016-11-07 10:54] flo8 opened #7 "Array of strings"
Hi,
First of all, thanks for this nice piece of code, great work!
I was wondering if it is possible in any way to add arrays of string with PostgreSQLCopyHelper?
I see there is a .MapArray() which handles several types but not strings?
Cheers
Flo

[2016-11-07 18:10] bytefish commented on #7
I think I just forgot to add it! It should be another method in the ArrayTypeExtensions.cs file.

But I won't have any time to add it this week, so I won't be able to make changes until next weekend.

[2016-11-13 19:06] bytefish commented on #7
I have added the String Array Mapping and Unit Tests for all Array methods. Let me know if it works for you, so I can build a new NuGet Package.  👍

[2016-11-13 19:08] flo8 commented on #7
Awesome many thanks! Will test it :)

[2016-11-13 19:16] bytefish commented on #7
I hope you can build the Project. I had problems with Visual Studio 2015, because I have the `csproj` and `project.json` files side by side. I didn't really find a good solution, running the normal Solution file probably still yields errors.

Try using the `xproj` solution, if you have problems building with the normal solution.

I didn't find a better workaround.

[2016-12-03 04:18] #7 closed

[2017-04-07 21:17] EvaHemetsberger opened #8 "PostgreSQLCopyHelper and TinyCSVParser"
hi,
thank you for this brilliant tools!!!
only one problem: import doesn't work for weatherData-record where column "date" is empty: no record will be created also no error-message ...
thanks for your support!

[2017-04-08 07:17] bytefish commented on #8
If you want to import records without a date, you need to set the parameter as a nullable date ``DateTime?``. Then you could either set a default date before executing the import. Or you could filter out the records without a date completely and not consider them for an import.

[2017-04-08 07:17] #8 closed

[2017-04-10 11:05] EvaHemetsberger commented on #8
ok thanks a lot i'll try this

Best regards
Eva Hemetsberger

 

Philipp Wagner <notifications@github.com> , 08.04.2017 9:17:

If you want to import records without a date, you need to set the parameter as a nullable date DateTime?. Then you could either set a default date before executing the import. Or you could filter out the records without a date completely and not consider them for an import

[2017-04-10 23:22] EvaHemetsberger commented on #8
sorry but maybe i am too new to this - could you give some more detailled information; it's not enough to declare DateTime? which method can i use to set the default value?
thanks in advance

Eva Hemetsberger

 ps: you could also write back in german

Philipp Wagner <notifications@github.com> , 08.04.2017 9:17:

Closed #8.
—
You are receiving this because you authored the thread.
Reply to this ema

[2017-05-09 22:44] TeqTankJC opened #9 "DateTimeOffset for TimeStamp"
Great Tool!  Hoping that you might be able to add a MapTimeStamp option for DateTimeOffset? Getting around it by converting things but it would be a great add.  Thanks!!

[2017-08-29 10:05] screig opened #11 "Can this handle ON CONFLICT DO NOTHING; ?"
Can this handle ON CONFLICT DO NOTHING when preforming a bulk insert and move on to the remaining entries?

[2017-08-30 09:44] bytefish commented on #11
No, I am sorry. It cannot handle it at the moment.

[2017-08-30 09:44] #11 closed

[2017-08-30 09:45] screig commented on #11
thanks, still looks very good!

[2017-08-30 15:37] bytefish commented on #9
I have looked into it and I am a little bit confused. Do you mean you want to map the  .NET type ``DateTimeOffset`` to a PostgreSQL type ``timestamp`` without Timezone information? I think it is probably better to explicitly convert it in the mapping.

An example would be useful. 😄

[2017-09-19 08:43] talfirevic opened #12 "String array mapping"
Hi,

am I missing something or is there no mapping for any array db type?

[2017-09-19 16:19] bytefish commented on #12
I have added it some time ago, but apparently forgot to release it. I will release a new NuGet Version later today and then it will be available. See: https://github.com/bytefish/PostgreSQLCopyHelper/blob/master/PostgreSQLCopyHelper/PostgreSQLCopyHelper/PostgreSQLCopyHelper/Extensions/ArrayTypeExtensions.cs.

[2017-09-19 19:51] bytefish commented on #12
I have uploaded the latest Version 1.2 to NuGet, so it should be available soon.

Here is how to use it.

Imagine you have the following Domain model:

[code]

Imagine it is mapped to a table ``sample.unit_test`` and the string array is defined for Column ``col_array``:

[code]

Please let me know, if this fixes your problem. 😅

[2017-09-20 08:25] talfirevic commented on #12
@bytefish I didn't see your response right away.
When I've pulled the code I figured out that there is actually a way to do it, like this:
`.Map("TextArrayField", x => x.TextArrayField, NpgsqlDbType.Array | NpgsqlDbType.Text)`

But I guess your proposed solution is just a bit more elegant way of doing it.

[2017-09-20 16:42] #12 closed

[2017-09-20 17:36] bytefish commented on #12
Good, that it works! Thanks for the Feedback.:+1:

[2017-09-22 16:53] bytefish commented on #9
Closed due to inactivity.

[2017-11-01 12:15] OrlovSerg opened #13 "Error when insert bytea[] values"
I couldn't insert byte[] values. Occurs error "08P01: not enough data left in message" when i call method copyHelper.SaveAll(connection, entities). Please, help!

[2017-11-01 12:17] bytefish commented on #13
Can you add an example to reproduce it?

[2017-11-01 12:55] OrlovSerg commented on #13
Execuse me! It's my error, I wrote the wrong code.

[2017-11-01 12:55] #13 closed

[2017-11-01 12:55] bytefish commented on #13
OK! Thanks for the Feedback.

[2017-12-07 09:00] geethadoddappa opened #15 "Unable to install package from nuget"
-Package : Unable to load the service index for source http://api.nuget.org/v3/index.json.
At line:1 char:16
+ Install-Package <<<<  PostgreSQLCopyHelper
    + CategoryInfo          : NotSpecified: (:) [Install-Package], Exception
    + FullyQualifiedErrorId : NuGetCmdletUnhandledException,NuGet.PackageManagement.PowerShellCmdlets.InstallPackageCommand

[2017-12-07 19:33] bytefish commented on #15
The error message you posted has this line: ``Unable to load the service index for source http://api.nuget.org/v3/index.json.``. This seems to indicate a problem with your connection, which is unrelated to the package.

Maybe this Stackoverflow post helps resolving your connection problems:

* https://stackoverflow.com/questions/41185443/nuget-connection-attempt-failed-unable-to-load-the-service-i

[2017-12-07 19:33] #15 closed

[2018-02-16 16:16] chennas opened #17 "Does this support DotNetFramework 4.6.2"
Hi Team,
We are using Dot net framework 4.6.2 version, came across this library, in the readme file it is given as .NetFramework Core version,

wanted to know does, this support Dot net framework 4.6.2 version also?

We are using NHibernate ORM tool and PostrgreSQL database

[2018-02-16 19:03] bytefish opened #18 "Update Npgsql to 3.2.6"
There are some problems with Package dependencies when using PostgreSQLCopyHelper in a netstandard 2.0 project. @beercsaba told me, that this doesn't happen with Npgsql 3.2.6. So Npgsql should be updated to Version 3.2.6.

[2018-02-16 19:04] bytefish commented on #17
Yes it supports 4.6.2. Please open an issue, if you encounter problems when using the library with .NET 4.6.2. 🙏

[2018-02-16 19:04] #17 closed

[2018-02-18 08:55] bytefish commented on #18
Package updated to Version 1.3.0 with Dependencies to Npgsql 3.2.6.

[2018-02-18 08:55] #18 closed

[2018-03-29 04:36] chennas opened #19 "How to insert in to multiple tables and maintain foreign keys"
Hi Team,

Thanks for this library, it really helped me in loading bulk data.  I have a question here,

We have to load the data in to 2 tables.

Table 1: context
In context table details id is referenced

Table 2 : Details
In the Details table context id from the above is referenced

In the UI for the user based on the keys we are showing the data. In this case I am able to insert data to context.

[2018-03-29 05:23] bytefish commented on #19
What is the problem with the library? What did you try so far? Do you have an example to reproduce the problem? Please provide more context.

[2018-03-29 15:00] chennas commented on #19
I am not facing the problem with library. I want to insert the data in to 2 tables, which I need to take the reference id from first table and insert in to second table, as mentioned above, I would like to know how to get the reference if after I insert the data in to first table.

2 tables

example:

Table 1 with below columns
Col1 Col2

Table 2 with 3 columns
Col1 Col2 Col3 (this id should come

[2018-03-29 18:46] bytefish commented on #19
Sorry, but I don't think this is possible. You can only Bulk Insert to one table at a time, and at the moment the library does not return any IDs you can reference to.

[2018-03-29 18:46] #19 closed

[2018-06-07 14:14] wejto opened #21 "System.Nullable stopped working with Npgsql 4.0"
Hi,

I have experienced an issue after Npgsql upgrade from 3.2.7 to 4.0 saying

This is clearly a Npgsql bug that should be solved in their 4.0.1 Milestone https://github.com/npgsql/npgsql/milestone/52, so just for you to know.

[2018-06-07 16:19] bytefish commented on #21
Thanks for the information!

[2018-06-18 13:47] wejto commented on #21
You are most welcome.

Just an update and something to think about from
https://github.com/npgsql/npgsql/issues/1965#issuecomment-398001047

as it looks like it will take some time for nullables to be ready for your usage in Npgsql 4 from
https://github.com/npgsql/npgsql/issues/1965#issuecomment-398001170

The question is whether even consider handling `DBNull.Value` on your own.

[2018-06-19 18:08] bytefish commented on #21
Thanks for the follow-up! I don't want to handle the ``DBNull.Value`` by myself, because all I want this library to be is a small wrapper around Npgsql. I think it is acceptable to stay on PostgreSQLCopyHelper and Npgsql 3.2.7 until the Npgsql is officially released.

[2018-06-19 18:23] bytefish commented on #21
@wejto Forget my last comment. The fix was trivial. I will release it in a moment.

[2018-06-19 18:27] bytefish commented on #21
I have released Version 2.1.0 to NuGet which fixes the issue. Thanks for your support and the follow-up, which made it trivial to work around the issue until Npgsql has a fix in place. Please reopen the ticket, if the problem persists with version 2.1.0.

[2018-06-19 18:27] #21 closed

[2018-06-20 04:10] say25 opened #22 "Nullables Still Acting Up"
Try to run `copyHelper.SaveAll(connection, entities);`

Where entities is a list of Student Objects with a string Name field and nullable int field for age.

If the first student in the entities list has a null age and the second has an age defined, it freaks out and fails.

[2018-06-20 04:13] bytefish commented on #22
Weird. 🤔 I will look into it, but it will take some time. Would you mind writing a small Unit Test to reproduce the problem?

[2018-06-20 04:14] say25 commented on #22
Working on that now

[2018-06-20 04:21] say25 commented on #22
Without exposing my code too much (working in an Enterprise project), the test should look like this:
[code]
Unfortunately running the test against my RDS actually fails :(

[2018-06-20 04:21] say25 commented on #22
This is obviously an example but should apply to all types, Integer, Numeric, etc.

[2018-06-20 04:25] bytefish commented on #22
Thanks! I will investigate it. Honestly I think about rolling everything back to Npgsql 3.2.7. 😥

[2018-06-20 04:26] say25 commented on #22
Got it working. I needed to simply run `create schema sample;` first. but yea these all fail. Let me put in a PR for the tests.

[2018-06-20 04:27] bytefish commented on #22
Looking at the test it has to fail, because of this line:

[code]

The result should be null. I am not near a computer, so I cannot look into it. 😌

[2018-06-20 04:31] say25 commented on #22
Fails before it gets to that line unfortunately. But yea I will patch that in the PR.
[code]
Here is the stack FYI

[2018-06-20 04:32] bytefish commented on #22
I wonder why it acts up. Could you paste the error message?

[2018-06-20 04:36] bytefish commented on #22
Meanwhile, please stay on Version 1.3.0 until there is a fix in place.

[2018-06-20 04:40] bytefish commented on #22
This is how Nullables are written. Are you able to spot an obvious error there?

* https://github.com/bytefish/PostgreSQLCopyHelper/blob/4ecb2aa0bdfc7042838eb902223e096bd1b641a1/PostgreSQLCopyHelper/PostgreSQLCopyHelper/PostgreSQLCopyHelper/PostgreSQLCopyHelper.cs#L52

[2018-06-20 04:43] say25 commented on #22
I looked there first. It should basically use the `writer.Write(DBNull.Value, type);` the first time and then `writer.Write(value, type);` the second time. Looks like it should work but... :/

[2018-06-20 04:50] bytefish commented on #22
The Npgsql Binary writer has a ``WriteNull()`` method. Could you try if replacing this with my current DBNull.Value writing fixes the issue?

[2018-06-20 04:56] say25 commented on #22
That does fix the issue 😎

[2018-06-20 04:57] bytefish commented on #22
💪💪💪

I will fix it and release a new version to NuGet. Thanks for your help!

[2018-06-20 04:58] say25 commented on #22
No problem thanks for your responsiveness :D

[2018-06-20 05:09] bytefish commented on #22
I have released a new Version 2.2.0 to NuGet, which should fix the issue. If the problem still persists, please reopen the ticket. And thanks again! 👍

[2018-06-20 05:09] #22 closed

[2018-06-20 05:12] bytefish commented on #22
Sorry I was too quick to close! I will add your tests later today in a separate merge.

[2018-06-20 07:37] wejto commented on #21
@bytefish Cheers for the quick fix, that was exactly what I meant and works like a charm in 2.1.0.  and the latest version.

[2018-06-20 17:33] bytefish commented on #21
@wejto Great! Thanks for the feedback. 🙏

[2018-08-10 23:10] say25 opened #26 "Bug in Adding Quoted Identifier Support"
On PostgreSQLCopyHelper 2.2.0 This works fine

[code]

On PostgreSQLCopyHelper 2.3.1 I get this error:
relation "schema_name.MyTable" does not exist.

I would guess its in this diff somewhere:
https://github.com/bytefish/PostgreSQLCopyHelper/compare/5fd06820a290c6ff528f315581e46f302d880768...master

[2018-08-11 02:39] bytefish commented on #26
Could you add a test to reproduce it? Please check if your database table really is in upper-case and also quoted. My best guess is, that you created the table without quoting. That means Postgres will turn it into lower-case in the DB. Before the update, nothing was quoted automatically. Now I am using the Postgres Rules for quoting.

[2018-08-11 17:04] say25 commented on #26
Yea I can do that later this weekend. While I am fairly certain that I created the table without quotes and `MyTable` should be `mytable` I think this should have been called out as a breaking change in the release notes and perhaps even been a 3.0.0.

[2018-08-11 17:17] bytefish commented on #26
That sounds correct. I will re-release it as 3.0. I was unsure, wether it is breaking change or not. But looking at it now, it should be declared a breaking change. Sorry for the inconvience caused.

[2018-08-13 15:15] say25 commented on #26
Just started looking at this, as it turns out `.MapText("Id", x => x.Id)` becomes case-sensitive as well

[2018-08-13 15:56] bytefish commented on #26
Yes, I fought with myself wether it is better to have people explicitly quote it or to do it as it is now. People had problems with explicit quoting in the past. I might be wrong here, because it isn't obvious for people, that it is now going quoted into the database and not automatically turned into lower-case by the Postgres driver.

What do you think?

I will release a 3.0 anyway, but now the d

[2018-08-13 17:10] say25 commented on #26
I was of the idea it might be easier to pass in a boolean for UsePostgresQuotes or something with a default of false. I understand the need to support it but things like Dapper work with either casing. I for now have avoided upgrading to 2.3.1 and am staying on 2.2.0 as there is no performance enhancements or bug fixes.

[2018-08-13 17:21] bytefish commented on #26
Thanks for the input. Yes, I think adding an optional switch makes sense. I didn't really think about, that properties also become case-sensitive. I will add a constructor parameter ``usePostgresQuotes``, that defaults to false. Thanks a lot for your valuable feedback.

[2018-08-13 18:44] bytefish commented on #26
I reverted to the old behavior. Quotes are now only added, if you explicitly enable them using the ``UsePostgresQuoting`` method using the Fluent API. I think this strikes a nice balance and fixes the breaking changes with the opt-in to quotes.

I released it as version 2.4.0 to NuGet, it will be available once NuGet is done with validating and indexing the package.

Let me know, what you think an

[2018-08-13 18:44] #26 closed

[2018-08-13 23:49] say25 opened #29 "Marking Releases"
As a consumer of this library, it is hard to determine where and when changes were made.

Is it possible to:
- Tag Releases
- Add Release Notes to said tagged releases
- Add a ReleaseNotes.MD containing a history of changes

[2018-08-14 03:03] bytefish commented on #29
I will add a Release Notes File and Tag the Releases. 👌I will do it later this week, because old releases cannot be tagged from the GitHub Web UI and I need to sit down with the Git Command Line then. 🤔

[2018-08-14 20:26] bytefish commented on #29
I have added the Releases. I will add a CHANGELOG.md to this project later.

[2018-08-15 18:28] chrisatx opened #30 "The number of affected rows is not captured/exposed when a COPY completes in PostgreSQLCopyHelper.SaveAll"
### Description of bug
In short, I ran into a rare bug where PostgreSQLCopyHelper would appear to copy rows but inserted 0 rows and did not throw an exception, in the `PostgreSQLCopyHelper.SaveAll()` method.

See npgsql/npgsql#2112.

In debugging the issue, I realized it would be necessary to expose the number of rows inserted to the methods in `PostgreSQLCopyHelper.SaveAll()` and `NpgsqlBinaryImp

[2018-08-15 18:32] bytefish commented on #30
This makes sense, thanks for the effort you put into it. I can easily integrate it, once it is released in npgsql. Are you running the insert from multiple threads? I don't think the PostgreSQLCopyHelper implementation is thread-safe, maybe such conditions can lead to unexplainable behavior?

[2018-08-15 18:50] chrisatx commented on #30
Thanks. No I was not using multi threading. Good to keep in mind.

No, the bug was something really unexpected and in a fairly simple setup, and then it went away as I was hacking different versions of things (most likely).
Might be that I upgraded from Pg 9.x to 10.1 to 10.3.. I'm not sure what change I made actually fixed it.

[2018-08-15 18:56] bytefish commented on #30
Do you still have the PostgreSQL server logs around? Maybe something is in it? I will keep an eye on the ticket and leave this ticket open.

[2018-08-15 19:12] chrisatx commented on #30
No, unfortunately it was more than a month ago in June, and I had to fix the burning issue (be able to use COPY/PostgreSQLCopyHelper).
I think some random upgrade probably fixed it in my rush.

If I can find the log or try to repro, I will definitely provide more details.

[2018-08-18 10:40] bytefish commented on #29
It has been added! 👍

[2018-08-18 10:40] #29 closed

[2018-09-02 10:03] Devspec opened #32 "Async Support"
Hi!

When will you provide an async/await support to this great lib?

Thanks!

[2018-09-02 10:19] bytefish commented on #32
This library is basically syntactic sugar on top of the Npgsql COPY API. At the moment Npgsql does not support Asynchronous methods for the COPY API, see the open issue in the Npgsql Issues at:

* https://github.com/npgsql/npgsql/issues/1632

It was scheduled for the Npgsql 3.3, but didn't make it into the release.

If Npgsql supports Asynchronous methods for the COPY API, this library will implem

[2018-09-21 05:34] bytefish commented on #30
@chrisatx An initial version with the unstable Npgsql 4.1.0-ci Build has been merged into the 2.5.0-alpha Branch of this repository. I cannot release it to NuGet, because the Npgsql builds are hosted in MyGet.

You can find the 2.5.0-alpha Branch here:

* https://github.com/bytefish/PostgreSQLCopyHelper/tree/2.5.0-alpha

I will leave this issue open until there is a stable 4.1.0 Release or Pre-Rel

[2019-02-06 11:02] iroshni opened #37 "Is there any possibility of bulk update with this helper"

[2019-02-07 05:57] bytefish commented on #37
@iroshni No, this library builds upon the Postgres COPY protocol, which does not support upserts. Sorry. 🤷

[2019-02-07 05:57] #37 closed

[2019-02-19 14:58] Mabiro opened #38 "Incompatibility with Npgsql 4.0.4"
First off, thank you for this helper!

We are using Npgsql 4.0.4 on our project along with this helper, but it seems like it's not compatible with our Npgsql version. We were able to make it work by downgrading it to 4.0.0, but we'd prefer not to.

Is there any way it could be updated to support 4.0.4?

Thank you!

[2019-02-19 17:06] bytefish commented on #38
Sure, I will update the NuGet dependency. But I am not home today, so it can take a day. 😇

[2019-02-19 21:51] bytefish commented on #38
I have updated the Npgsql dependency to 4.0.4, please try the new Package 2.4.1. I tried to use a Floating Version number, but that doesn't work with the ``PackageReference``-style NuGet dependencies. If I have some free time I will probably re-evaluate floating version dependencies, but for now setting the dependent version hard to Npgsql 4.0.4 should fix your problem.

[2019-02-19 21:51] #38 closed

[2019-02-20 14:48] Mabiro commented on #38
Thank you for the quick fix, really appreciated!

[2019-02-20 19:04] bytefish commented on #38
@Mabiro No problem, if there are any problems feel free to open an issue. ✌️

[2019-03-14 06:24] Cooksauce commented on #30
@bytefish Is this able to be fully released now? Looks like Npgsql 4.1.0 is stable? (docs show a 'Complete' method which returns row count)
[https://www.npgsql.org/doc/api/Npgsql.NpgsqlBinaryImporter.html](https://www.npgsql.org/doc/api/Npgsql.NpgsqlBinaryImporter.html)

[2019-03-14 06:27] bytefish commented on #30
@Cooksauce 👍👍👍 for the follow-up! If 4.1.0 is stable and released to NuGet I will add the method signature and also expose the number of affected rows. It won't be before the weekend, because I am currently quite busy.

[2019-03-14 20:00] Cooksauce commented on #30
@bytefish Looked into it further... Looks like this was a false alarm. Latest stable on NuGet is Npgsql - 4.0.5.
Sorry about that.

[2019-03-14 20:02] bytefish commented on #30
No worries. 🙏 Thanks for the update.

[2019-05-07 14:11] rosauro commented on #9
creating a 'PostgreSQLCopyHelper', I have a **DateTimeOffset** field, How can I map it?

For instance, I have the class 'TestEntity'
[code]

then,
[code]

but, **MapDateTimeOffset** doesn't exist. Thanks!

[2019-05-07 14:43] bytefish commented on #9
Reopen to investigate. Could you give me your table and how you expect the DateTimeOffset to be mapped to the column.

[2019-05-07 14:45] bytefish commented on #9
Some useful information for the Npgsql Mapping between .NET CLR Types and PostgreSQL:

* https://www.npgsql.org/doc/types/datetime.html

[2019-05-08 04:19] bytefish commented on #9
I won't be able to look into this before the weekend. For now I suggest: Convert your DatetimeOffset into a UTC time and use a DateTime, because according to document Npgsql will convert it to a UTC anyway.

[2019-05-08 07:35] rosauro commented on #9
Defining the '**MapDateTimeOffset**', it's works for me.

The key question is define '**DateTimeOffset**' as '**TimespampTz**'.

[code]

Then, I can do this:
`.MapDateTimeOffset("created", x => x.Created);`

and it works like a charm!!

[2019-05-08 11:15] bytefish commented on #9
Cool! Would you mind making a Pull Request to the repository and maybe add some tests?

[2019-05-08 19:19] bytefish commented on #9
I have released 2.4.2, which has a new method ``MapTimeStampTz`` for mapping between a DateTimeOffset and a column with ``TimestampTz`` Data Type.

[2019-05-08 19:19] #9 closed

[2019-05-27 06:38] lansman opened #39 "delete it"
please delete it

[2019-05-27 06:41] #39 closed

[2019-05-27 16:38] bytefish commented on #39
It cannot be deleted I think. Would you mind letting me know, what the issue was? Other users might have a problem with Package downgrades, too and it would be great to know the solution. 👍

[2019-06-09 06:05] say25 commented on #30
Just an FYI for @Cooksauce and @chrisatx [2.5.0-alpha2 is available on NuGet](https://www.nuget.org/packages/PostgreSQLCopyHelper/2.5.0-alpha2) with support for this feature.

[2019-06-26 18:52] devzealot opened #46 "PostgreSQLCopyHelper.SaveAll() makes recursive mapping when called and results in DB error"
Hi,

I am using PostgreSQLCopyHelper library in our project (suite of applications) for daily data load functionality. We receive the bulk data from clients and it needs to be loaded into the PostgreSQL database for business operations. I have implemented the code changes as per the details given in README.md file. The code changes are working fine for some of the applications and loading the bulk

[2019-06-26 19:25] bytefish commented on #46
This is strange. 🤔 Your code looks good to me, a duplicate write shouldn't happen.

Could you give me the Npgsql version you are using?

Which amount of data are we talking about, in case I want to reproduce it.

Is Parallelism involved?

Do you run the code from multiple threads? Do they access the same object and connection?

[2019-06-26 19:32] bytefish commented on #46
@devzealot Sorry, there was an error in your code. Ignore my first comment.

Define it like this:

[code]

And you can delete this line, it is not needed for Copy Helper:

[code]

[2019-06-26 19:35] bytefish commented on #46
@devzealot Please let me know, if it works and then we can close the issue. ✌️

[2019-06-26 19:36] devzealot commented on #46
Thank you for the response.

I am using "4.0.7.0" version for Npgsql and "2.4.2.0" version for PostgreSQLCopyHelper libraries.

We get almost 300000 to 700000 records data from the clients daily. For testing purpose, I am using 2000 records data. There is no parallelism involved and the code is executed in a single thread accessing the same object and connection.

[2019-06-26 19:51] devzealot commented on #46
I have defined the PostgreSQLCopyHelper as you mentioned and now it is working fine. I am not getting the duplicate key violates error now. Thank you very much for the help. You can close this issue. Thank you once again.

[2019-06-26 19:57] #46 closed

[2019-06-26 20:12] bytefish commented on #46
Thanks for the quick response! 😎 Good luck with your project. 👍

[2019-08-17 08:08] bytefish commented on #30
A 4.1.0-preview1 has been released to NuGet. Should we also release a Preview on NuGet?

[2019-08-17 22:16] say25 commented on #30
Yea I’m planning on doing it tonight. Also planning on setting up a build pipeline

[2019-08-18 08:16] bytefish commented on #30
@say25 Thanks for all your work. And yes, please add your name to the LICENSE and Copyrights. Maybe we can remove my name from the source files and directly link to the LICENSE file. 👍

[2019-08-26 19:03] th0mk commented on #32
Just a heads up, Npgsql has been updated.

[2019-08-26 21:11] say25 commented on #32
@th0mk you are correct. My plan is to get the Async support branch updated and get a NuGet pre-release out soon. (Hopefully tonight)

[2019-08-29 03:25] say25 commented on #32
Sorry for the delay @th0mk `Preview-2` has been uploaded. once a stable version of Npgsql with support for this feature is released, we will release a stable version of PostgreSQLCopyHelper

[2019-08-29 05:29] tinyattila commented on #32
I'm keen on trying this in one of my project. So Can you pinpoint also version of npgsql when its released.

[2019-08-29 13:12] say25 commented on #32
@elkrisu we are waiting on Npgsql 4.1 to reach a stable release before releasing a stable version of this project.

When the stable is out I will close this issue and add a GitHub release.

If you [watch this repository for releases](https://help.github.com/en/articles/watching-and-unwatching-releases-for-a-repository) you should be notified whenever a future stable release is done 😃

[2019-09-27 14:40] #30 closed

[2019-09-27 14:42] #32 closed

[2019-09-30 09:17] bytefish opened #50 "Update README for async methods"
The README currently only shows the synchronous methods. This could give the false impression, that the library doesn't support ``async`` methods. We should add a section on how to use the asynchronous ``SaveAllAsync``.

[2019-09-30 16:25] #50 closed

[2019-10-16 10:49] jahir1040 opened #53 "Bulk Insert with auto increment unique primary key"
Hi,

I am using PostgreSQLCopyHelper library in our project for creating bulk data. I want to insert bulk data in a table which contains Primary key. I am getting the "23505: duplicate key value violates unique constraint" error when PostgreSQLCopyHelper.SaveAll() is executed in the code.

**Table Structure:**
[code]

**Model Class:-**

[code]

Already populate a list of EmptyPermissionDetail wher

[2019-10-16 14:12] bytefish commented on #53
Could you please try to define your Primary Key as ``serial`` data type, like this:

[code]

And in the ``PostgreSQLCopyHelper`` mapping do not define a mapping for the ``Id`` property. Then Postgres will increment it. Please also post your PostgreSQLCopyHelper mapping.

[2019-10-17 03:55] jahir1040 commented on #53
Thanks for your response.
My PostgreSQLCopyHelper mapping is
[code]
There is some modification in my scenario.

Have another Table

**Table Structure:**
[code]
**Model Class:-**
[code]

[code]

**Model Class:-**

[code]

Now, at first i insert data in `empty_permissions` table and populate `EmptyPermissionDetail List` with the inserted `empty_permission_id`.
`PostgreSQLCopyHelper` mapping as
[code

[2019-10-17 05:41] say25 commented on #53
@jahir1040 Correct me if I am mistaken, but I think I wrote tests around your described issue. I may be wrong but I believe this should prove that it is a non-issue https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper/pull/54.

[2019-10-17 14:10] bytefish commented on #53
@jahir1040 I think there is a misunderstanding: If you insert the data, the library won't set the ``Id`` property in ``EmptyPermission``, that Postgres has assigned, if this is what you are assuming. So if you didn't explicitly set the PK and FK value, the values will be ``default(long)``, which is 0. That will lead to the Foreign Key violation you are seeing.

[2019-10-17 16:29] say25 commented on #53
@bytefish added another test, I believe it will auto increment

[2019-10-17 16:45] bytefish commented on #53
@say25 Yes, it auto increments, but I think @jahir1040 expects, that the Id auto incremented by Postgres is populated in the object right after you call ``SaveAll``. To get the Ids you need to query the data from Postgres.

[2019-10-20 08:37] jahir1040 commented on #53
@bytefish Thanks for the explanation. Your explanation helped a lot.
In Sql Server not facing the issue, but in PostgreSQL facing this. After reading,
[https://www.postgresql.org/docs/9.3/sql-set-transaction.html](url)
got my problem clearly.
**In PostgreSQL READ UNCOMMITTED is treated as READ COMMITTED.**
 Resolved it.

[2019-10-20 08:37] #53 closed

[2019-10-20 12:32] bytefish commented on #53
@jahir1040 Could you describe it a bit more? Just in case other people run into the same issue. How did the Isolation Level change the results?

[2019-10-31 17:28] Cooksauce opened #56 "Thoughts on IAsyncEnumerable Support?"
@bytefish @say25  Has there been a discussion on support for IAsyncEnumerables?

[2019-10-31 18:45] say25 commented on #56
I'm interested to hear what you think the Api contract might look like and what you use case is that you would desire this.

[2019-10-31 19:25] Cooksauce commented on #56
Interface:
[code]

This would be very helpful for processing a stream of entities from a database and then having that stream pipe back to a new table in the database without having to load them all into memory. (200k+ entities).

I'm currently doing this with `IEnumerable`, but since EF Core now supports `IAsyncEnumerable `, it would useful to have that in here as well.

An alternative way to kee

[2019-10-31 19:28] Cooksauce commented on #56
I have this implemented in a local branch if you're interested in that

[2019-10-31 19:36] say25 commented on #56
Feel free to open a PR up 😄

[2019-10-31 19:41] Cooksauce commented on #56
Before I do that, I did have question. I noticed the cancellation token is ignored after the import starts. Meaning you can't cancel after it is checked here:
[code]

Was this a design decision?

[2019-10-31 20:52] Cooksauce opened #58 "Feature: Add Support For Cancellation Mid-Stream"
Implement by propagating cancellation token down to row writing methods.

[2019-10-31 21:19] bytefish commented on #56
@Cooksauce Great ideas & Pull Request! 👍 Thanks for your interest in the library.

@say25 @Cooksauce  I am sorry, but I won't be able to review the pull request at the moment. It would be great, if you @say25 could take a look at it.

[2019-11-01 14:03] say25 commented on #56
@Cooksauce I believe you caught a mistake. In general I’ve used this library inside a Transaction and I only commit once I’ve verified the row counts line up.

[2019-11-01 15:26] Cooksauce commented on #56
@say25 Are you saying a mistake with regards to cancelling in the middle of an insert?

[2019-11-01 15:31] say25 commented on #56
A mistake in that we should have been passing the cancellation token down all along

[2019-11-01 15:43] Cooksauce commented on #56
Gotcha - Yeah to handle that in my previous consumption of this library I've had to do something like this:
[code]

[2019-11-02 02:58] #56 closed

[2019-11-02 02:58] #58 closed

[2019-11-02 10:01] bytefish commented on #56
@say25 @Cooksauce Great work! 😎

[2019-11-04 01:48] say25 commented on #56
Took me a little bit @Cooksauce but 2.6.0 is available on NuGet now

[2019-11-04 04:45] Cooksauce commented on #56
@say25 Awesome! Thanks for the prompt help to get this released 👍

[2019-12-06 21:26] ViperDave opened #59 "copyHelper.SaveAll deadlocks"
**Description**
It appears that I am getting a deadlock when calling `copyHelper.SaveAll(connection, tableEntities);`.  The same data inserts without a problem when I use an `INSERT` command.  The `SaveAll` deadlocks whether I'm attempting to insert 1 or a million records.  It even deadlocks when I attempt to `SaveAll` with an empty collection of tableEntities.

**Environment**
Windows 10 Enterpri

[2019-12-07 00:19] bytefish commented on #59
@ViperDave Could you do me a favor and call the Asynchronous version SaveAllAsync(...) and do a ``SaveAllAsync(...).ConfigureAwait(false).GetAwaiter().GetResult()`` to write the results?

I am pretty sure this should fix it, and if so API-wise we should think about internally calling the async method like this from the SaveAll(...) or directly use the Synchronous version of Npgsql.

[2019-12-07 04:28] ViperDave commented on #59
@bytefish I changed `SaveAll` to `copyHelper.SaveAllAsync(conn, tableEntities).ConfigureAwait(false).GetAwaiter().GetResult();` as you requested.

Now, at least it doesn't hang, but an exception is being thrown.  Here is the output from the logger.

[code]

The database connection is open.
The copyHelper is instantiated as shown in the code.
The tableEntities list contains one tableEntity object.

[2019-12-07 05:34] bytefish commented on #59
@ViperDave There had been a few changes to Npgsql and this library regarding asynchronous processing. If your problem is very urgent I suggest to use the 2.5.1 of the library, while we are investigating the problem.

[2019-12-07 05:34] ViperDave commented on #59
I believe I figured out why an exception was being thrown.

In the `PostgreSQLCopyHelper` constructor, we can define the columns to insert.  Not every column that exists in the database table must be defined in the `PostgreSQLcopyHelper` constructor.

So, if I have a nullable column in a table, say FOO, and the data to be inserted does not include that information, how should the `PostgreSQLCopyHe

[2019-12-07 05:38] bytefish commented on #59
If a column is nullable and the value of the mapped property is null, then it's no problem and you did everything correct, if this is what you are describing.

[2019-12-07 05:41] bytefish commented on #59
Could you try PostgreSQLCopyHelper 2.5.1 and tell me the results? Please switch back to SaveAll(...) instead of SaveAllAsync(...).

[2019-12-07 06:24] ViperDave commented on #59
Reverted back to 2.5.1 and SaveAll(...).  The application is deadlocked.

[2019-12-07 06:28] bytefish commented on #59
This was unexpected. I will create a small sample WPF project and recreate the issue.

[2019-12-07 06:31] ViperDave commented on #59
[code]

[2019-12-07 06:44] bytefish commented on #59
Yes, I din't expect this. 2.6.0 blocking on the UI Thread is something I can understand. With 2.5.1 I cannot understand it.

Maybe @say25 has an idea.

Reproducing the issue can take some time for me.

[2019-12-07 06:51] ViperDave commented on #59
To clarify, the deadlock issue is separate and different from the `Object reference not set to an instance of an object` issue.  The deadlock issue is resolved by using `SaveAllAsync` as you have described.  The `Object reference not set to an instance of an object` issue has to do with including a column description in the constructor of the `PostgreSQLCopyHelper` that is not included in the enti

[2019-12-07 06:54] bytefish commented on #59
Oh yes, yes. You simply do not include it when creating the PostgreSQLCopyHelper.  Sorry I misunderstood it.

[2019-12-07 08:55] bytefish commented on #59
You can see, that I have added an example project in a separate branch called Issue-59.

I can confirm your issue,

The synchronous version deadlocks at:

* https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper/blob/5c25277ca6e9b814653aea80208a762a5706cdd9/samples/WPF/WpfAppSample/WpfAppSample/MainWindow.xaml.cs#L53

In the code you can see how you could use the asynchronous version.

We wi

[2019-12-07 09:17] bytefish commented on #59
@say25 Now I see, there is a ``NoSynchronizationContextScope``, that should handle the ``ConfigureAwait`` problem! Don't you think the ``using`` should also be put into ``SaveAll``?

[2019-12-07 15:55] ViperDave opened #60 "Expose table and column definitions from the copyHelper"
**Is your feature request related to a problem? Please describe.**
In my catch blocks, I would like to report information that is contained within the copyHelper - specifically, the table definition.  Is there a reason why the table and column definitions that are passed into the copyHelper during construction cannot be exposed (read-only even)?

**Describe the solution you'd like**
I would like t

[2019-12-07 16:52] say25 commented on #60
@ViperDave do you have a proposed format for this string?

I’m going to look and see if there is a way we could have it show up at a Log Information level as well durning construction.

I can’t speak for the entire history of the project but I suspect the reason is trying to protect consumers from modifying this as generally code changes more than often than table definitions.

[2019-12-07 17:34] bytefish commented on #59
I have created a 2.6.1 Release, that fixes the Issues. In the Branch Issue-59 there is a folder ``samples/WPF/``, which contains a WPF sample application to perform synchronous and asynchronous inserts & recreate the above use case. Both are working and do not block anymore.

@say25 Sorry, I should have read the asynchronous implementation better.

@ViperDave Please confirm, if 2.6.1 fixes the pro

[2019-12-07 17:41] say25 commented on #59
@bytefish seems like that implementation should work going to do some testing on my end as well today.

[2019-12-07 17:45] say25 commented on #59
Also of note the inspiration for this pattern can be found here https://github.com/npgsql/npgsql/pull/2492

[2019-12-07 17:46] bytefish commented on #60
@say25 @ViperDave Actually the ``ColumnDefinition`` contains only the Column Name. The Type of the column is "hidden" inside the Lambda Function of the ``ColumnDefinition``. So for now two additional properties ...

* ``string TableName``
* ``string[] ColumnNames``

... would mirror this information.

But now that I look through the API it might be useful to add the ``NpgsqlDbType`` to the ``Colum

[2019-12-07 20:11] say25 commented on #60
@ViperDave Out of curiosity, would making the `GetCopyCommand` public solve this issue?

https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper/blob/5faeec8e5de1c81a97433e7dd2e7774006f1d128/src/PostgreSQLCopyHelper/PostgreSQLCopyHelper.cs#L158-L163

[2019-12-07 21:33] ViperDave commented on #60
I don't believe that exposing the `GetCopyCommand` would solve this issue.  If I'm only interested in the table name, then I would have to write code to parse through the copy command.  I would rather have entry points that give me discrete pieces of information.

Also, exposing
- `string TableName` and
- `string[] ColumnNames`
would not be as good as exposing
- `TableDefinition Table` and
- `List

[2019-12-07 21:43] bytefish commented on #60
I would feel uncomfortable with giving direct access to these objects, because it contains the writer lambda function and that's nothing someone should have access to.

It just feels like a wrong abstraction.

I think one can keep those Definition objects internal and expose clean objects with the required information. The objects could be called ``Table`` and ``Column`` and the PostgreSQLCopyHelp

[2019-12-07 21:46] ViperDave commented on #60
I have mixed feelings about exposing the `GetCopyCommand`

1. It is exposing information that, as a user of this library, I shouldn't have to worry about.
1. If I am interested in using the API to build a copyHelper just to be able to obtain the copy command, then I don't really need the API long term.
1. As a user of this API, if I were given the copy command, I would still have code I would need

[2019-12-07 22:25] ViperDave commented on #60
How the `PostgreSQLCopyHelper` manages the table and column definitions internally is up to the internals of the `PostgreSQLCopyHelper` and should not be a concern of someone using the API.  With that said, I still believe that a user of the API would be interested in and benefit from being able to get to the following information:
About the Table:
- SchemaName
- TableName

For each column:
- Colu

[2019-12-07 22:39] bytefish commented on #60
@ViperDave Thanks for the effort you put into this! 👍 ``TargetTable`` / ``TargetColumn`` sound like good names in my opinion.

I could implement a first version in a branch to iterate on, but only tommorow.

[2019-12-07 22:41] ViperDave commented on #60
LOL, it's the weekend.  Take a break

[2019-12-07 22:44] ViperDave commented on #60
If you could overwrite the `ToString()` method on the `TargetTable` object to return [schemaName.]tableName, that would be a good shortcut.

[2019-12-08 03:02] ViperDave commented on #59
Just upgraded to 2.6.2 and can confirm that `SaveAll(...)` no longer deadlocks.

[2019-12-08 06:26] #59 closed

[2019-12-08 09:03] bytefish commented on #60
@ViperDave Could you please take a look at the usage of the initial implementation at:

* https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper/blob/target-table/src/PostgreSQLCopyHelper.Test/Issues/Issue60_TargetTableTest.cs

As for the overriding of ``ToString()``, I wouldn't like to do this. I have added a method ``GetFullQualifiedTableName()`` to the ``TargetTable``, that returns the ta

[2019-12-08 18:39] say25 commented on #60
@bytefish if you open a PR I can review. It may be easier for @ViperDave to see the provided functionality as well.

[2019-12-12 11:29] #60 closed

[2019-12-27 16:12] jsmyr opened #62 "Expose Column info and GetCopyCommand publicly"
It would be extremely helpful if       private readonly List<ColumnDefinition<TEntity>> _columns;
was actually a public or at min protected property.

That would let me then use that metadata for things like dynamically creating a temp table

it would also be good if   private string GetCopyCommand() was actually public,  this would allow for eaiser debugging

[2019-12-27 16:33] #62 closed

[2019-12-27 16:37] jsmyr opened #63 "make columns available as protected or public property"
I have started using your package for the following scenario
1) Create Temp Table
2) Copy into table
3) Use Update SQL to overlay

I realized after I set up the CopyHelper, I could use the Column Meta data to dynamically
create the TempTable, but the property is private , so can't access

What I would like is to have that property made public  or projected so I can access it.

[2019-12-27 16:39] bytefish commented on #63
Please check, if the Metadata offered through ``TargetTable`` property is sufficient for your use case. I will add a documentation on it in the README.

[2019-12-27 17:53] jsmyr commented on #63
I missed that property , and yes that is perfect for me

[2019-12-27 17:53] #63 closed

[2019-12-27 18:14] bytefish commented on #63
Great! 🎅

[2020-08-09 08:42] buraksecer opened #64 "Bulk Update"
Hi,

I found this morning your github project and working for bulk insert and very fast good job!

But, i want to bulk update, I may not have seen this repo maybe.

And Do you have a work on this ?

Than You For Repo !

[2020-08-09 10:17] bytefish commented on #64
No. The COPY Protocol is for inserts only, updates are not supported.

[2020-08-09 10:17] #64 closed

[2020-08-09 11:23] buraksecer commented on #64
Thank You for answer.

[2020-08-09 17:07] say25 commented on #64
@buraksecer building off of @bytefish's answer, the reason this library is so appealing to me at least, is how fast it is at inserting. The reason it is this fast is do to the COPY Protocol in PGSQL this is built on top of, which as stated above only supports `insert` .

While this maybe less ideal for some use cases, some work arounds to leverage this in conjunction with update could be:

### Upd

[2020-08-10 06:39] buraksecer commented on #64
@say25 i use to alternative(another) library and fixed my problem.

Thank you for command !

[2020-09-28 10:46] Keerthikan opened #65 "Inline Error when doing BulkInsertion?"
Does this wrapper support some form of in-line error support something similar to [pgloader](https://pgloader.readthedocs.io/en/latest/intro.html)

or does this just throw an exception first time it sees an error in the database postgresql?

[2020-09-28 15:11] say25 commented on #65
@Keerthikan do you have an example of the error you would be expecting?

[2020-10-06 17:59] bytefish commented on #65
@Keerthikan Closed due to inactivity. Please reopen, if you have additional information.

[2020-10-06 17:59] #65 closed

[2020-10-08 14:42] carlos0202 opened #67 "Make PostgreSQLCopyHelper play nice with NodaTime"
Hi!

Thanks for this library, and for all your efforts to make it work!

Right now, I'm trying to save a lot of data to the database using PostgreSQLCopyHelper, but I already use NodaTime globally in my application but when I call the method to save the information I'm getting the following error:
 - Using DateTime property = "Can't write CLR type System.DateTime to database type timestamp"

So, h

[2020-10-08 14:48] bytefish commented on #67
@carlos0202 Thanks for the kind words. 🙏 Do you have a small example what you have tried so far? Like: What Postgres Type are you using? What C# Type does the property have?

[2020-10-08 15:54] say25 commented on #67
Linking for inspiration - https://github.com/npgsql/npgsql/tree/main/src/Npgsql.NodaTime.

This is definitely something we could incorporate into the project. @carlos0202 if you desire feel free to open a PR and I'd be happy to help you through the process. If not, I can investigate taking it on myself in the near future.

[2020-10-09 04:38] bytefish commented on #67
@say25 Would this mean taking a dependency on a NodaTime library? Or does it come with npgsql already? Just asking, because it might be better to create a small NuGet package ``PostgreSQLCopyHelper.NodaTime`` instead of taking a dependency in the main project. But... if npgsql also references it, we shouldn't care. 🤭

[2020-10-09 13:39] say25 commented on #67
It would be better to create a small NuGet package PostgreSQLCopyHelper.NodaTime instead of taking a dependency in the main project. Npgsql has the same approach

[2020-10-09 20:28] carlos0202 commented on #67
IT would definitely make sense to create a helper library and not create a direct dependency on NodaTime on this project. @say25 any help on this will be very welcomed.

[2020-10-10 08:51] bytefish commented on #67
@carlos0202 @say25 I have commited an initial version, which for now only defines some extension methods and defines a test project. In the ``TransactionalTestBase`` of the Test Project, I am adding the NodaTime support for Npgsql like this:

[code]

I am not sure, if Npgsql uses them automagically when including the Npgsql.NodaTime package or not.

Unit Tests are missing and I haven't actually ru

[2020-10-10 11:22] bytefish commented on #67
@say25 I made a PR. Once you have reviewed it and shared your thoughts, we can create a NuGet package.

[2020-10-12 18:06] say25 commented on #67
@carlos0202 I think most of the code you would need is in a reasonably working state, can you pull it into your project and verify it meets your needs? at which point we can release a new NuGet version and you can pull it in from this repo?

[2020-10-15 06:37] bytefish commented on #67
@say25 I have made the requested changes except for the Target Framework definition. I think the best way to go ahead is releasing a 2.6.3-alpha of the ``PostgreSQLCopyHelper.NodaTime`` package, so it is easier for @carlos0202 to give it a try in his project.

[2020-10-16 19:31] carlos0202 commented on #67
Sorry for the late reply (I was kind of disconnected lately), I will test the nugget package provided and I'll let you know if anything comes up, Thanks!!!

[2020-10-26 20:23] carlos0202 commented on #67
Hi,
I tried to test with the new package provided but it misses mapping methods to nullable NodaTime types. For instance, I have some LocalDateTime?, LocalDate? and Instant? columns to map.

[2020-10-26 21:08] say25 commented on #67
Thats a good call out, let me push up a patch now.

[2020-10-26 21:09] say25 opened #69 "Enable C#* Nullable for the Codebase"
Adding Nullable is a good way to spot issues with our code, we should do it.

[2020-10-26 21:17] say25 commented on #67
https://www.nuget.org/packages/PostgreSQLCopyHelper.NodaTime/2.7.0-beta2 is publishing soon.

[2020-10-26 23:40] say25 opened #70 "Character Mapper Takes String"
https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper/blob/51b433f9c27383a9ca661ab20c8d12648e805f88/src/PostgreSQLCopyHelper/Extensions/CharacterTypeExtensions.cs#L15-L18

I noticed this code and thought it should rather take a `Char` instead of a `String` type. Is this intentional? Am I missing something?

[2020-10-27 01:19] carlos0202 commented on #67
Hi, I've tested the preview version and I'm missing Nullable NodaTypes support so that I can use LocalDate?, LocalDateTime?, and other NodaTime types as nullable entries.

[2020-10-27 05:02] say25 commented on #67
I could be wrong but I think this commit https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper/pull/68/commits/b083c8fc550703f68b12174d3061796a30b601fa (included in 2.7.0-beta2) should have support for both `LocalDate?` and `LocalDateTime?` as well as other nullable types. Do you have an example where this doesn't work?

[2020-10-27 05:36] bytefish commented on #69
I have not used it yet. If it helps, let's do it.

[2020-10-27 05:40] bytefish commented on #70
Maybe I am mistaken, but doesn't a ``char(n)`` data type refer to fixed -width strings? It wouldn't feel good to also put a ``char[]`` in there, this often means a lot of conversions in upper layer code.

[2020-10-27 05:44] say25 commented on #70
Yea you are probably right, just thinking through it.

[2020-10-27 05:44] #70 closed

[2020-10-27 05:48] bytefish commented on #70
We could overload the method of course, to allow passing a char or a char[] to the method.

[2020-10-27 14:21] carlos0202 commented on #67
Hi,
The issue was that I was testing with the 2.7.0-beta1 version. I tested now with the lastest version and everything is working as expected. I only have one question, is there any top number of records that we need to take into account while using the library so that we must split the data using skip and take to avoid performance issues? Thanks for all your help!!!

[2020-10-27 14:21] #67 closed

[2020-10-27 15:09] say25 commented on #67
I would say no but it depends on your application design. Effectively the library is a wrapper around built-in PostgreSQL functionality that serializes the records as binary. Obviously the more data the larger the payload but more-over the more time before a commit or before another process could add the record you are looking to add.

To me its really a question of how your application works and

[2020-10-27 15:19] bytefish commented on #67
I have written something about improving the performance here:

* https://www.bytefish.de/blog/timeseries_databases_3_timescaledb.html

Specifically this:

So inserting in parallel really does help, when it comes to bulk inserts. That's why all Data Loader tools you find for Postgres spawn workers like crazy. Also keep in mind, that you might need to increase the worker process count in the postgr

[2020-10-28 13:56] carlos0202 commented on #67
In my case, there will not be another process adding data to the database. I was just curious to know if there are implications that I need to take into account.

[2020-10-29 13:38] bytefish commented on #67
@say25 Could you please add me to the PostgreSQLCopyHelper.NodaTime package on NuGet? 😇 And maybe we could release a 2.7.0?

[2020-10-29 17:33] say25 commented on #67
Done and fair callout, totally forgot to do the "final things"

[2020-10-29 18:03] bytefish commented on #67
@say25 Sorry! I didn't mean it as a callout. 🤜🤛

[2020-10-30 21:11] carlos0202 commented on #67
is the 2.7.0 version released?

[2020-10-30 21:14] carlos0202 opened #71 "*Question* Enum to Integer column mapping."
Can I map an Enum Type property to an Integer Database Column? If so, please let me know the way.

[2020-10-30 21:31] say25 commented on #71
I don't see why not.

[code]

Does something like this not work?

[2020-10-30 22:15] carlos0202 commented on #71
I will try it, I'll let you know!

[2020-11-01 20:17] say25 commented on #67
Sorry for the delay, this has been uploaded to NuGet.org.

[2020-11-15 19:42] #71 closed

[2020-11-25 21:59] DateSuyash opened #73 "Mapper for "Point" Datatype Column"
Hi,
<img width="576" alt="sc1" src="https://user-images.githubusercontent.com/53618935/100285618-31fa8180-2f97-11eb-85ea-c1c50211abdf.png">
<img width="646" alt="sc2" src="https://user-images.githubusercontent.com/53618935/100285621-332bae80-2f97-11eb-8420-b338c1381b40.png">

I am not sure if we have a method for mapping a **Point** Datatype DB column(eg. like **.MapText** or **.MapTimeStamp**). I

[2020-11-26 01:26] say25 commented on #73
@DateSuyash we don’t have this support today. I can add it or you can open a PR for it and I can review.

[2020-11-26 05:53] bytefish commented on #73
It is actually possible to map it, by using the ``PostgreSQLCopyHelper#Map`` method:

https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper/blob/ec94abb1d4a143aa5cd40bc31803eac2382e54bb/src/PostgreSQLCopyHelper/PostgreSQLCopyHelper.cs#L114

Then just use your Point property directly (without ToString) and pass in the type ``NpgsqlDbType.Point`` as the third parameter.

[2020-11-26 05:55] bytefish commented on #73
Like this:

[code]

[2020-11-26 09:16] DateSuyash commented on #73
Hi, above solution is working as expected. Thanks for quick help :)

[2020-11-26 09:16] #73 closed

[2020-11-26 10:34] bytefish commented on #73
You may still make a PR for adding a ``MapPoint`` method to the API surface. See the whole library is basically a wrapper to Npgsql. So all types supported by Npgsql can also be added to the API.

@say25 We can probably add the above example to the README, so one can see how to map types without a matching name.

[2020-12-21 03:07] Huai-Ming opened #75 "does it support composite types?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-23 18:57] say25 commented on #75
@Huai-Ming I don't have an example of composite types but if you include some sample code I'd be happy to verify it works. I'm pretty confident you could use a custom mapper to accomplish this.

[2020-12-26 19:27] bytefish commented on #75
@say25 @Huai-Ming I have created a PR #76 to enable mapping Composite Types.

[2020-12-27 12:22] bytefish commented on #75
Support for Composite Types has been added and released as 2.8.0.

Please see the section on Composite Types in the README at:

* [https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper#mapping-composite-types](https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper#mapping-composite-types)

[2020-12-27 12:22] #75 closed

[2021-01-14 14:34] GorgeousPuree opened #77 "42601: syntax error at or near ")" when trying to make SaveAll()"
Greetings. I've got an entity Product:
[code]

And I'm trying to execute this code:

[code]
And I'm getting this:
![image](https://user-images.githubusercontent.com/46875481/104600130-47c82100-5681-11eb-8da8-219bbed0b54d.png)

[code]
I'm using EF Core to generate migrations. Database exists, table "Products" exists. I don't quite understand what I've done wrong. When I'm connecting `connection.Ful

[2021-01-18 13:16] FireEmerald commented on #77
There is no mapping at all defined in any of your code snipplets.

Something like:
[code]

[2021-01-18 17:24] GorgeousPuree commented on #77
Indeed, I thought that's optional...
I added mapping and it worked as expected:
[code]

[2021-01-18 17:24] #77 closed

[2021-01-21 12:18] Tarakeswarab opened #78 "column has null throwing the error"
**Describe the bug**
column has null throwing the error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error:invalid input syntax for type bigint:
5.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**
 - Version [e.g. 22]

**Additional

[2021-01-21 15:49] say25 commented on #78
We need some additional details before we can try to provide assistance

[2021-01-26 15:49] bytefish commented on #78
@Tarakeswarab We cannot reproduce the problem without any details. If you still need help, feel free to comment on this ticket and provide further details.

[2021-01-26 15:49] #78 closed

[2021-03-21 11:02] KovtunV opened #79 "Return ids"
Hi! Is there a way to return Ids after **SaveAll**?

[2021-03-21 18:13] bytefish commented on #79
@KovtunV As far as I know it is not possible with the underlying Postgres COPY Protocol.

[2021-03-21 18:13] #79 closed

[2021-04-21 12:46] Shikhar16078 opened #80 "What if database columns are in capital letters ?"
Hi , i used this package , but i have my database columns in capital letters. So it says can't find a relation in the table.

[2021-04-21 13:01] #80 closed

[2021-05-10 21:20] jasonschade opened #81 "Compatibility issue with Npgsql 4.0.11"
Hello, I'm a bit confused on the dependencies. It seems that PostgreSQLCopyHelper 2.4.x should work with Npgsql 4.0.11 but I keep getting errors that it needs Npgsql 4.0.0. Due to other dependencies, our project requires Npgsql 4.0.11. Which version of PostgreSQLCopyHelper is compatible with this version?

[2021-05-10 21:29] say25 commented on #81
@jasonschade The newer builds currently run off of Npgsql 4.1.1 - https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper/blob/master/Directory.Build.targets.

In https://github.com/PostgreSQLCopyHelper/PostgreSQLCopyHelper/releases/tag/2.5.0 we bumped to Npgsql 4.1.0

You might try version 2.4.2 but keep in mind we you won't have as many features available

[2021-05-10 21:30] say25 commented on #81
Just for future reference, you can see dependencies in NuGet.org
![image](https://user-images.githubusercontent.com/7467062/117726988-0833c080-b1ad-11eb-8e40-a1be0f710bac.png)

[2021-05-10 21:45] jasonschade commented on #81
Thx guys for the quick responses, but the issue is that I think the dependencies may be wrong. My application is running .Net 4.5

I have Npgsql 4.0.11.0 and PostgreSQLCopyHelper 2.4.2.0.

But I keep getting the following error whenever any of my PostgreSQLCopyHelper methods are called.

Error: Could not load file or assembly &#39;Npgsql, Version=4.0.4.0, Culture=neutral, PublicKeyToken=5d8b90d52f

[2021-05-11 08:28] jasonschade commented on #81
Figured it out. I needed to set bindings in my Web.config file. After that, Npgsql 4.0.11 and PostgreSQLCopyHelper 2.4.2 worked fine together.

[2021-05-11 09:02] jasonschade opened #82 "MapNullable?"
Hey everyone, having an issue inserting in bulk when one of our values is null. We keep getting the "end of message" error. We're pretty confident that  we've tracked it down to a single column that allows nulls. The column is mapped to a BigInt. If the value is null (which the database allows), it throws an exception. We also tried to set the value to DBNull.Value but since it's mapped to a BigIn

[2021-05-11 11:57] jasonschade commented on #82
Sorry guys....just started using PostgreSQL so bit of a newbie trying to get this stuff working as MSSQL is a lot more forgiving. Issue turned out to be on another column that we had mapped as DateTime but it needed to be mapped as Timestamp.

Got it working.

[2021-10-05 18:41] JonClayton opened #83 "Major version bump for Npgsql?"
**Is your feature request related to a problem? Please describe.**
I am getting critical notices from our dependency monitor due to a remote code execution vulnerability in System.Text.Encodings.Web that comes in via Npgsql@4.1.1.  Npgsql is now on version 5.0.10, so maybe it's time to version bump this library?

**Describe the solution you'd like**
Next version of this library with version bumps

[2021-10-05 18:43] bytefish commented on #83
@JonClayton Thanks for the information. We will look into it!

[2021-10-05 19:15] say25 commented on #83
Yea we are probably due for this. to be fair, we don't pin dependencies and this should work with Npgsql 5+

[2021-10-05 22:13] JonClayton commented on #83
I believe it does work with Npgsql@v5.0.10 because that's what my project is actually using, courtesy of Npgsql.EntityFrameworkCore.PostgresSql@v5.0.10, which does pin.  But that doesn't stop the monitoring tool shouting and managers worrying.  Thanks for the super prompt response--didn't expect it given the relative quietness of the repo.  And of course thanks for a very useful tool.

[2021-10-05 23:20] say25 commented on #83
@JonClayton I'm all for upgrading but looking into this more, the reality is even if we did upgrade to Npgsql v5.0.10 (current latest), you problem will still occur.

## Problem - System.Text.Encodings.Web (4.6.0) has a Remote Code Execution Vulnerability

  Basically the tree is as follow

[code]

  ![version diff](https://user-images.githubusercontent.com/7467062/136115140-58bc2534-f940-4f51-aa2

[2021-10-05 23:20] #83 closed

[2021-11-05 11:27] jomarescudero commented on #64
May I ask what alternative did you use?? Thanks in advance

[2021-11-07 14:18] bytefish commented on #64
@jomarescudero One easy way to do this, that comes to my mind is having a Stored Procedure and using "INSERT ... ON CONFLICT ..." for performing bulk upserts. Here ist the gist with the code:

* https://gist.github.com/bytefish/dbd2da81267990e9326044661be1c480

So imagine we want to bulk upsert measurements of a device.

You start with a table ``sample.measurements`` like this:

[code]

You expect

[2021-11-09 17:44] say25 commented on #64
@bytefish @jomarescudero Another approach I've used before is using PostgreSQLCopyHelper to insert into a temp table and then have a DB procedure to handle upserting from the temp table to the main table

[2021-11-10 03:20] jomarescudero commented on #64
@bytefish This code blew me up!! excellent... I'll definitely give it a try and hopefully will come back with the results of a more complex business model I'm working on.

@say25 That's another interesting way, taking into account that I'm trying to "upsert" the data as quickly as possible, and in my case, having to rely on a secondary process to actually do the updating/inserting within the db is

[2022-05-10 14:57] Paeseitje opened #84 "Error Npgsql.PostgresException: '22P03: incorrect binary data format'"
I want to map class Rooster through the copyHelper mapping into the 'rooster' table.
See below for definitions.
I get the following error:  'Error Npgsql.PostgresException: '22P03: incorrect binary data format'

I suspect that one of the datatype mappings is not valid.

Begindatum_rooster is a DateTime with datetimekind UTC and to accomodate that I mapped to MapTimeStampTz.
After fixing the error

[2022-05-25 15:25] say25 commented on #84
Sorry for the late response. I would try this code one column type at a time, I'd imagine it could be a column name with `_`

[2022-07-13 00:29] #84 closed

[2022-11-15 14:37] Mathuraju opened #85 "42601: syntax error at or near "#" during executing SaveAll(conn, entityList) method"
Here are the details:

Entity.cs file
public class PickrrMIS
    {
        [Column("PickrrOrderID")]
        public string? PickrrOrderID { get; set; }

        [Column("WaybillType")]
        public string? WaybillType { get; set; }

        [Column("PICKRRTrackingID")]
        public string? PICKRRTrackingID { get; set; }

        [Column("ClientOrderID")]
        public string? ClientOrderID {

[2022-11-15 17:23] Mathuraju commented on #85
I have wrongly mapped the following
.MapText("#TrackingId", x => x.NumTrackingId).

It is working as expected. There is no issue.

[2022-11-15 17:25] bytefish commented on #85
@Mathuraju Great you found the problem. We might think about better error messages to quickly identify these issues.

Thanks for the feedback! 👍

[2022-11-15 17:25] #85 closed